@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@400;500;600;700&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.3%;
}

body {
  font-size: 1.6rem;

  padding: 3rem;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  line-height: 1.7;
  color: #777;
}

a:link,
a:visited {
  color: #666;
  text-decoration: none;
}

header,
main {
  background-color: #f7f7f7;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("img/hero.jpg");
  width: 100%;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 2rem;
  /* display: none; */
}
/* .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 1000;
  position: fixed;
  top: 5rem;
  right: 6rem;
}

.line,
.menu-container::after,
.menu-container::before {
  width: 30px;
  height: 2px;
  background-color: black;
  display: inline-block;
}

.menu-container::after,
.menu-container::before {
  content: "";
  transition: all 500ms;
}

.menu-container::after {
  color: black;
}

.menu-container::before {
  color: black;
}
.cross:hover::before {
  transform: translateY(-2px);
}
.cross:hover::after {
  transform: translateY(2px);
}

.header-text {
  text-align: center;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-one {
  margin-bottom: 4.8rem;
  color: #fff;
}

.heading-span {
  display: block;
}

.heading-span:first-child {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  margin-bottom: 2rem;
}
.heading-span:last-child {
  text-transform: uppercase;
  letter-spacing: 1.7rem;
  font-size: 2rem;
  font-weight: 700;
}
.btn {
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 5px;
  display: inline-block;
  transition: all 400ms;
}

.header-btn:hover {
  color: #fff;
  outline: 2px solid white;
  background-color: rgba(40, 180, 133, 0.8);

  /* transform: translateY(-2px); */
}

.secondary-nav {
  /* background-color: rgba(40, 180, 133, 0.8);
  background-image: radial-gradient(#7ed56f, #28b485); */
  list-style: none;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translate(-100%);
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.background-color-nav {
  /* background-color: rgba(40, 180, 133, 0.8);
  background-image: radial-gradient(#7ed56f, #28b485); */
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 300ms; */
}

.checkbox {
  display: none;
}
.checkbox:checked + .secondary-nav,
.checkbox:checked + .background-color-nav {
  opacity: 1;
  pointer-events: all;
  transform: translate(0%);
  visibility: visible;
}
.header-secondary-nav {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondary-nav-items {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 1.8rem;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem;
  transition: all 400ms;
  position: relative;
  overflow-x: hidden;
  line-height: 1;
}

.secondary-nav-items:hover {
  color: #28b485;
}

.secondary-nav-items::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
  transform: translate(100%);
  transition: all 400ms;

  z-index: -1;
}

.secondary-nav-items:hover::before {
  visibility: visible;
  transform: translate(0%);
}

.secondary-nav-items:last-child {
  margin-bottom: 0rem;
}

.position-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}

/* toggle nav icon */

.checkbox:checked ~ .header-navigation .menu-container span {
  visibility: collapse;
}

.checkbox:checked ~ .header-navigation .menu-container::after,
.checkbox:checked ~ .header-navigation .menu-container::before {
  position: absolute;
  top: 50%;
}

.checkbox:checked ~ .header-navigation .menu-container::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.checkbox:checked ~ .header-navigation .menu-container::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* round circle */
.round-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 7rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: all 0.8s;
  z-index: -12;
}
.checkbox:checked ~ .round-circle {
  transform: scale(80, 80);
}
/* mian */

.main {
  padding-top: 9.8rem;
}

.tours-section {
  padding-bottom: 20rem;
}

.tours-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 4.8rem;
  align-items: center;
}
.tours-text {
  max-width: 500px;
  justify-self: center;
  margin-top: 2.4rem;
}
.med-heading {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 3.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 200ms;
  margin-bottom: 8rem;
}
.rotate:hover {
  /* transform: skew(15deg, 2deg) scale(1.1); */
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.margin-bottom-med {
  margin-bottom: 2.4rem;
}

a.btn-small {
  color: #55c57a !important;
  display: inline-block;
  padding: 0.5rem 0.6rem 0.2rem;
  border-bottom: 1px solid #55c57a;
  transition: all 100ms linear;
}

a.btn-small:hover {
  background-color: #55c57a;
  color: #f7f7f7 !important;
  border-bottom-color: transparent;
  transform: translateY(-2px);
}

.tours-image-container {
  position: relative;

  align-self: flex-start;
  transition: all 200ms;
}

.tours-image-container:hover {
  transform: scale(0.95);
}

.tours-image {
  position: absolute;
  transition: all 200ms;
  width: 45%;

  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  /* top: 0px;
  left: 0px; */
}

.tours-image:nth-child(1) {
  z-index: 1;
  top: 0;
  left: 0px;
}
.tours-image:nth-child(2) {
  z-index: 2;
  top: 5rem;
  right: 130px;
}
.tours-image:nth-child(3) {
  z-index: 3;
  top: 120px;
  left: 83px;
}
.tours-image:hover {
  z-index: 5;
  transform: scale(1.1) !important;
  border-radius: 0.2rem;
  outline-offset: 1.5rem;
  outline: 1.5rem solid #28b485;
}

.natours-cons {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.829),
      rgba(40, 180, 133, 0.822)
    ),
    url(../img/nat-4.jpg);
  padding: 24rem 0;
  background-size: cover;
  transform: skewY(-7deg);
}
.natours-card-flex {
  display: flex;
  transform: skewY(7deg);
  gap: 4.8rem;
  max-width: 1150px;
  margin-inline: auto;
}

.natour-card {
  background-color: rgba(255, 255, 255, 0.82);
  padding: 2rem;
  text-align: center;
  border-radius: 0.2rem;
  transition: all 400ms;
}

.natour-card :first-child {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.natour-card :last-child {
  font-size: 1.5rem;
}
.natour-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.card-section {
  margin-top: 15rem;
}

.card-flex {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}
.card-position {
  position: relative;

  /* border: 1px solid black; */
  width: 35rem;
  height: 54rem;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}

.main-card {
  height: 100% !important;
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 800ms;
  backface-visibility: hidden;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}

.front-card {
  /* visibility: hidden; */
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  transform: rotateY(0deg);
  /* display: none; */
}

.back-card {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  /* left: 100px; */

  color: #f7f7f7;
  display: grid;
  text-align: center;
  align-items: center;
  transform: rotateY(180deg);
  /* display: none; */
}

.back-card-bg-one {
  background-image: linear-gradient(
    to right bottom,
    hsla(44, 100%, 50%),
    hsla(21, 100%, 59%)
  );
}

.back-card-bg-two {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}

.back-card-bg-three {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card-background-img {
  width: 100%;
  height: 24rem;
  margin-bottom: 1.8rem;
  background-blend-mode: screen;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-background-img-1 {
  background-image: linear-gradient(
      to right bottom,
      hsl(44, 100%, 50%),
      hsl(21, 100%, 59%)
    ),
    url(img/nat-5.jpg);
}
.card-heading {
  position: absolute;
  font-size: 2.8rem;
  font-weight: 100;

  width: 75%;
  top: 13rem;
  right: 2rem;
  color: #f7f7f7;
  text-align: right;
  text-transform: uppercase;
}

.card-heading span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
}

.card-heading-span-one {
  background-image: linear-gradient(
    to right bottom,
    hsla(44, 100%, 50%, 0.8),
    hsla(21, 100%, 59%, 0.8)
  );
}

.card-heading-span-two {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}

.card-heading-span-three {
  background-image: linear-gradient(
    to right bottom,
    hsla(209, 100%, 58%, 0.8),
    hsla(246, 95%, 62%, 0.8)
  );
}

.card-section ul {
  list-style: none;
  padding: 1rem;
}

.card-section li {
  text-align: center;
  /* border: 1px solid black; */
  width: 70%;
  margin: 0px auto;
  padding: 1rem;
}

.card-section li:not(:last-child) {
  border-bottom: 1px solid rgb(231, 229, 229);
  margin-bottom: 0.5rem;
}

.small-letters {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0rem;
}
.costt-container {
  font-size: 5.8rem;
  font-weight: 100;
  margin-bottom: 8rem;
}

.book-now {
  background-color: #f7f7f7;
  padding: 1.5rem 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 100000px;
}

.card-position:hover .front-card {
  transform: rotateY(-180deg);
}

.card-position:hover .back-card {
  transform: rotateY(0deg);
}

.card-background-img-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url(img/nat-6.jpg);
}

.card-background-img-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url(img/nat-7.jpg);
}

.btn-tours-container {
  text-align: center;
}
a.btn-tours {
  /* background-color: #28b485; */
  /* color: hsl(0, 0%, 30%) !important; */
  color: #f7f7f7;
  padding: 1.5rem 3rem;
  border-radius: 10000px;
  display: inline-block;
  margin: 8rem auto;
  text-transform: uppercase;
  transition: all 300ms;
  position: relative;
  z-index: 1;
}

a.btn-tours::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: hsl(0, 0%, 87%); */
  background-color: #28b485;
  z-index: -1;
  width: 110%;
  height: 110%;
  /* border-radius: 11111px; */
  transition: all 300ms;
}

a.btn-tours::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;

  /* background-color: yellow; */
  z-index: -1;
  width: 100%;
  height: 100%;
  outline: 1px solid transparent;
  /* border-radius: 11111px; */
  transition: all 300ms;
}

a.btn-tours:hover::after {
  /* background-color: #28b485; */
  width: 0;
  height: 0;
}
a.btn-tours:hover::before {
  outline: 1px solid gray;
  transform: scale(0.95);
}

a.btn-tours:hover {
  color: #333 !important;
}

.section-testimonial {
  position: relative;
}

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-section:not(:last-child) {
  margin-bottom: 6.8rem;
}
.testimonial-container {
  position: relative;
  padding: 10rem 8.8rem;
  /* z-index: 11; */
}

.testimonial-section > div {
  transform: skewX(-12deg);
  /* border: 1px solid black; */
  box-shadow: 3px 10px 2.4rem hsla(0, 0%, 0%, 0.137);
  max-width: 800px;
  margin: 0px auto;
  padding: 4.8rem;
  background-color: hsla(0, 0%, 97%, 0.58);
}
.testimonial-section > div > div {
  transform: skewX(12deg);
}

.testimonial-flex {
  /* display: flex;
  gap: 2.4rem; */
}

.testimonial-flex img {
  width: 200px;
  height: 150px;
  display: block;
  transform: scale(1.4) translateX(-20px);
  transition: all 500ms;
}
.testimonial-flex figure {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  transition: all 500ms;
  position: relative;
  width: 150px;
  height: 150px;
  /* border: 1px solid gray; */
  offset-path: 20px;
  shape-outside: circle(50% at 50% 50%);
  margin-right: 1.8rem;
}

.one .testimonial-flex figure::after {
  content: "mahnoor \A shaikh";
}
.two .testimonial-flex figure::after {
  content: "bilal \A jokhio";
}

.testimonial-flex figure::after {
  white-space: pre;
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  /* top: 0; */
  top: 82px;
  left: 0;
  color: transparent;
  font-size: 1.6rem;
  text-transform: uppercase;

  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
  text-transform: uppercase;
  z-index: 2;
}

.testimonial-flex figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

.testimonial-flex:hover figure::after {
  top: 0;
  color: #f7f7f7;
  /* background-color: #f7f7f7; */
}

.testimonial-flex:hover figure:before {
  backdrop-filter: brightness(0.8) blur(2px);
}

.testimonial-flex:hover img {
  transform: scale(1.2) translateX(-20px);
}

.testimonial-heading {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}
.c {
  border-radius: 50%;

  display: inline-block;
}

/*  */

.toggle-radio {
  display: none;
}

.radio-child span {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  outline: 0.5rem solid #55c57a;
  border-radius: 50%;
  position: relative;
  transition: all 400ms;
}

.radio-child span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-color: #55c57a;
  border-radius: 50%;
  opacity: 0;
}
.toggle-radio:checked + label span::after {
  opacity: 1;
}
.form-section {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 14rem 0rem;
}

.form-container {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(img/nat-10.jpg);
  padding: 6rem;
  width: 1100px;
  max-width: 1150px;
  margin: 0px auto;
}

.align {
  display: inline-block;
  margin-bottom: 4.8rem;
}
.align:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.form-container .input {
  padding: 1.8rem;
  display: block;
  max-width: 420px;
  width: 100%;

  border: none;
  outline: none;
  border-bottom: 3px solid transparent;
  transition: border 400ms;
}

.m-bottom {
  margin-bottom: 2.4rem;
}

input:placeholder-shown + label {
  transform: translateY(-5.6rem);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.m-bottom label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 0rem 0rem 1.8rem;
  letter-spacing: 0.1px;
  color: #777;
  transition: all 400ms;
  /* opacity: 1; */
  /* transform: translateY(4rem); */
}

.form-container .input1:focus {
  border-bottom-color: rgb(255, 100, 90);
}
.form-container .input2:focus {
  border-bottom-color: #28b485;
}

.radio-container {
  max-width: 380px;
  display: flex;
  justify-content: space-between;
}

.radio-child label {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 4.8rem;
}

input::placeholder {
  font-size: 1.6rem;
}
.form-btn {
  /* background-image: linear-gradient(to right bottom, #7ed56f, #28b485); */
  background-color: #28b485;
  padding: 1rem 2rem;
  color: #f7f7f7 !important;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  transition: all 400ms;
}

.form-btn:hover {
  background-color: #7ed56f;
  color: hsl(0, 0%, 77%);
}

.main-footer {
  background-color: #333;
  padding: 10rem 0;

  color: #f7f7f7;
}

.footer-img {
  text-align: center;
}

.footer-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.8rem;
}

.footer-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  font-size: 1.6rem;
}

.footer-nav a {
  color: #f7f7f7 !important;
  text-transform: uppercase;
  display: block;
  transition: all 300ms;
}
.copyright-container {
  justify-self: center;
  font-size: 1.4rem;
  word-spacing: 2px;
}

.name {
  display: inline-block;
  transition: all 300ms;
  word-spacing: 0px;
}
.footer-nav a:hover,
.name:hover {
  color: #55c57a !important;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.2);
  transform: rotate(5deg) scale(1.2);
}
